body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.left-panel {
    width: 35vw;
    background-image: url(images/Background\ Picture\ B&W.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 300px;
}

.logo img {
    height: 100%;
    padding: 10px;
    opacity: .9;
}

.logo h1 {
    font-family: Rubik Doodle Shadow;
    font-size: 5rem;
    color: #afcfdd;
}

.right-panel {
    width: 65vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    height: 450px;
    width: 100%;
    background-color: #ffffff;
    border: 5px;
    margin-top: 250px;
    box-shadow: 0px 2px 6px 0px rgb(180, 180, 180);
}

.form-container h2 {
    font-size: 32px;
    color:black;
    margin-left: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form div {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 15px 10px 10px 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(124, 124, 124);
}